{% extends 'base.html' %} {% load static %}
<title>{% block title %}LUXEHOME|Index{% endblock %}</title>
<body>
  {% block body %} 
    <!-- SECTION-1 STARTS HERE -->
    <div class="cu-1">
        <section>
            <img src="..." alt="...">
            <h1>Discover Our Exciting Upcoming Projects – Where Innovation Meets Opportunity.</h1>
        </section>
    </div>
    <!-- SECTION-1 ENDS HERE -->
     <!-- SECTION-2 STARTS HERE -->
    <div class="cu-2">
        <section>
            
        </section>
    </div>
    <!-- SECTION-2 ENDS HERE -->
     <!-- SECTION-3 STARTS HERE -->
    <div class="cu-3">
        <section>
            
        </section>
    </div>
    <!-- SECTION-3 ENDS HERE -->
     <!-- SECTION-4 STARTS HERE -->
    <div class="cu-4">
        <section>
        
        </section>
    </div>
    <!-- SECTION-4 ENDS HERE -->
     <!-- SECTION-5 STARTS HERE -->
    <div class="cu-5">
        <section>
            
        </section>
    </div>
    <!-- SECTION-5 ENDS HERE -->
     <!-- SECTION-6 STARTS HERE -->
    <div class="cu-6">
        
    </div>
    <!-- SECTION-6 ENDS HERE -->
     <!-- SECTION-7 STARTS HERE -->
    <div class="cu-7">
        
    </div>
    <!-- SECTION-7 ENDS HERE -->
     <!-- SECTION-8 STARTS HERE -->
    <div class="cu-8">
        
    </div>
    <!-- SECTION-8 ENDS HERE -->
     <!-- SECTION-9 STARTS HERE -->
    <div class="cu-9">
        
    </div>
    <!-- SECTION-9 ENDS HERE -->
     <!-- SECTION-10 STARTS HERE -->
    <div class="cu-10">
        
    </div>
    <!-- SECTION-10 ENDS HERE -->
    {% endblock %}
  </body>
  