{% extends 'base.html' %} 
{% block title %} LUXEHOMES | SignIn{% endblock %} 
{% block body %}
<body>

<div class="signin-page">
    <div class="signin-form">
        <h2>Sign In</h2>
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> {{error}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <form method="POST">
            {% csrf_token %}
            <!-- Username Field -->
            <div class="form-group">
                <label for="text">Username</label>
                <input type="text" class="form-control" id="uname" name="uname" placeholder="Enter Username" required>
            </div>

            <!-- Password Field -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="upass" name="upass" placeholder="Enter your password" required>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>

        <div class="signin-footer">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
            <p>Forgot Password? <a href="{% url 'request_password_reset' %}">CLICK HERE</a></p>
        </div>
    </div>
</div>



{% endblock %}
</body>