{% extends 'base.html' %} {% load static %}
<title>{% block title %}LUXEHOME|Index{% endblock %}</title>
<body>
  {% block body %} 

    <!-- SECTION-1 STARTS HERE -->
    <div class="up-1">

            <img src="..." alt="...">
            <h1>Discover Our Exciting Upcoming Projects – Where Innovation Meets Opportunity.</h1>

    </div>
    <!-- SECTION-1 ENDS HERE -->
     <!-- SECTION-2 STARTS HERE -->
    <div class="up-2">
        <div class="container">
            <h1>Find Your Dream Home</h1>
            
          <div>
          <section>
          <form class="d-flex search-form  mx-3" method="get" action="/searchproduct/">
            <input type="search" name="q" class="form-control search-input mx-2" placeholder="Search for Dream Home">
            <button class="btn btn-outline-primary mx-2" type="submit">Search</button>
          </form>
          </section>
          </div>
          </div>
    </div>
    <!-- SECTION-2 ENDS HERE -->
     <!-- SECTION-3 STARTS HERE -->
     <div class="r-3">
        <div class="container">
        <section>
            <div class="row">
                    <div class="col-md-2">
                        {% for x in upcoming_projects %}
                        <div class="card" style="width: 18rem;">
                                <img src="{% static 'images/default_image.png' %}" class="card-img-top" alt="Default Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ x.name_of_project }}</h5>
                                <p class="card-text">Area: {{ x.area_of_project_located }}</p>
                                <a href="/upcomingdetail/{{x.upcoming_project_id}}" class="btn btn-primary">Know More</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </section>
        </div>
    </div>
    <!-- SECTION-3 ENDS HERE -->
     <!-- SECTION-4 STARTS HERE -->
    <div class="up-4">
        <section>
        
        </section>
    </div>
    <!-- SECTION-4 ENDS HERE -->
     <!-- SECTION-5 STARTS HERE -->
    <div class="up-5">
        <section>
            
        </section>
    </div>
    <!-- SECTION-5 ENDS HERE -->
     <!-- SECTION-6 STARTS HERE -->
    <div class="up-6">
        
    </div>
    <!-- SECTION-6 ENDS HERE -->
     <!-- SECTION-7 STARTS HERE -->
    <div class="up-7">
        
    </div>
    <!-- SECTION-7 ENDS HERE -->
     <!-- SECTION-8 STARTS HERE -->
    <div class="up-8">
        
    </div>
    <!-- SECTION-8 ENDS HERE -->
     <!-- SECTION-9 STARTS HERE -->
    <div class="up-9">
        
    </div>
    <!-- SECTION-9 ENDS HERE -->
     <!-- SECTION-10 STARTS HERE -->
    <div class="up-10">
        
    </div>
    <!-- SECTION-10 ENDS HERE -->
    {% endblock %}
  </body>
